%a{ class: "btn btn-default btn-lg", href: root_path}
  %span{ class:"fa fa-home"}
%h2 Add Time Entry

%p
  .form-group
    %input{id: "date_id", placeholder: "Date", type: "text", class: "datepicker input-small form-control" }
    .help-block
  .form-group
    .controls{class:"bootstrap-timepicker"}
      %label Start
      %input{id: "start_time_id", placeholder: "Time ID", type: "text", class: "input-small form-control" }
      .hidden{ id: "start_date" }
      .help-block
  .form-group
    .controls{class:"bootstrap-timepicker"}
      %label End
      %input{id: "end_time_id", placeholder: "Time ID", type: "text", class: "input-small form-control" }
      .hidden{ id: "end_date" }
      .help-block
  .form-group.btn-group{"data-toggle"=>"buttons"}
    %label{ class:"btn btn-primary" }
      %input{ type: "radio", name: "action_id", value: 1} Volunteer
    %label{ class:"btn btn-primary" }
      %input{ type: "radio", name: "action_id", value: 2} Personal
    %label{ class:"btn btn-primary" }
      %input{ type: "radio", name: "action_id", value: 3} Stuff
    .hidden{ id: "log_action_id" }
    .help-block
  .form-group
    %label
      = select_tag(:bike_id, options_for_select(@bikes), class:"form-control")
  .form-group
    %textarea{id: "description_id", placeholder: "Work description", class: "input-lg form-control" }
  .form-group
    %input{id: "add_time_entry_submit", value: "Add Time Entry", type: "button", class: "btn btn-block btn-primary form-control", "data-url" => "#{api_create_time_entry_path}", "data-forward" => "#{"."}"}
