%a{ class: "btn btn-default btn-lg", href: root_path}
  %span{ class:"icon-home"}
%h2 Add Time Entry

%p
  .control-group
    .controls
      %input{id: "date_id", placeholder: "Date", type: "text", class: "datepicker input-small" }
      .help-block
  .control-group
    .controls{ class: "bootstrap-timepicker"}
      %label Start
      %input{id: "start_time_id", placeholder: "Time ID", type: "text", class: "input-small" }
      .hidden{ id: "start_date" }
      .help-block
  .control-group
    .controls
      %label End
      %input{id: "end_time_id", placeholder: "Time ID", type: "text", class: "input-small" }
      .hidden{ id: "end_date" }
      .help-block
  .control-group
    .controls
      .btn-group{ "data-toggle" => "buttons-radio"}
        %label{ class: "btn btn-default"}
          %input{ type: "radio", name: "action_id", value: 3} Volunteer
        %label{ class: "btn btn-default"}
          %input{ type: "radio", name: "action_id", value: 1} Personal
        %label{ class: "btn btn-default"}
          %input{ type: "radio", name: "action_id", value: 2} Staff
    .hidden{ id: "log_action_id" }
    .help-block
  .control-group
    .controls
      %label
        = select_tag(:bike_id, options_for_select(@bikes))
  .control-group
    .controls
      %textarea{id: "description_id", placeholder: "Work description", class: "input-lg" }
  .control-group
    .controls
      %input{id: "add_time_entry_submit", value: "Add Time Entry", type: "button", class: "btn btn-lg btn-block btn-primary", "data-url" => "#{api_create_time_entry_path}"}
