/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require datepicker
 *= require bootstrap
 *= require bootstrap-timepicker
 *= require bootstrap_and_overrides
*/

.container {
	max-width: 940px;
	margin: 0 auto;
}

.container img {
	display: block;
	margin: 0 auto;
}

p {
	text-align: center;
	padding: 20px 0;
}

.check_box {
	width: 30px;
	height: 30px;
	background-color: white;
}

label {
	font-size: x-large;
}