body {
  padding-top: $grid-gutter-width / 2;
}

.x-boundlist-item {
  white-space: nowrap;
}

fieldset, .fieldset {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.bootstrap-timepicker {
  .form-group {
    vertical-align: top;
  }
}

.bike-color {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}