body {
  padding-top: 5px;
}

.x-boundlist-item {
  white-space: nowrap;
}

fieldset, .fieldset {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.bootstrap-timepicker {
  .form-group {
    vertical-align: top;
  }
}